*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color:#F9FAFB;
    height: 150px;
    width: 100%;padding: 10px;
    
}
.header img {
    height: 140px;
    width: 140px;
    margin-bottom: 10px;
}
.header .im{
    grid-template-columns: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3; margin-left: 180px;
   
}
.header .nav-1{
    display: flex;
    justify-content: space-around;
    background-color: #592C7B;
    border-bottom-left-radius: 30px;
    color: white;
    padding: 20px;
    grid-column-start: 2;
    grid-column-end: 4;
}
.nav-1 a{
    color: white;
    display: flex;
}
.header .nav2{
    display: flex;
    justify-content: space-around;
    align-items: center;grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-right: 90px;
    
}
.istbutton{
    height: 36px;
    width: 130px;
    background-color: rgb(233, 50, 233);
    border: none;
    color: white;
    border-radius: 5px;
}
.card-container{
    background-color: #592C7B;
   height: 1500px;
    text-align: center;padding: 20px;
   
}
.in{
    color: white;
    background-color: #C5B5D0;
    height: auto;
    width: 500px;
    height: 70px; display: flex;
    justify-content: center;
    align-items: center;margin-bottom: 30px;
    margin-left: 380px;
   
}
.card-container h1{
 color: white;
 font-weight: 500;
 font-size: 40px;
}
.box-container1{
    background-color: #9275A6;
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 40px;
}
.box-container{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
}
.box-container .box{
    border-radius: 12px;
    text-align: center;
    padding: 30px 20px;
    background: white;
    
}
.box-container1 .box:hover{
    transform: scale(1.1);
}
 .last{
    background-color:#7330A6;
    height: 60px;
    width: 180px;
    color: white;
    font-size: 20px;
    text-align: center; 
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box button{
    background-color: #7330A6;
    height: 45px;
    width: 150px;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}
.box button:hover{
    background-color: #9275A6;
}
.box img{
    height: 250px;
    width: 300px; 
    border-radius: 10px;
}
.box h2{
    color:#374151;
    font-size: 20px;
    font-weight:100 ;
    text-transform: capitalize;
}
 #ze{
   margin-top: 20px;
   font-weight: 200;
}

#ista{
    
    text-decoration: none;
}
p{
    line-height: 28px;
    color:#374151;
   
}
a{
    text-decoration: none;
}
footer .container{
    background-color: #F9FAFB;
    height: 250px ;
    width:100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
}
.container .sea .icon{
  padding: 10px;
  line-height: 30px;
  margin-top: 20px;
  
}

.sea #ic{
    margin-top: 66px;
}
.sea i{
    color: #7330A6;

}
.container .quick, .quick2 ,.cintact{
    line-height: 30px;
}
.container a{
    color:#374151;
}
.container a:hover{
    color: #7330A6;
}
